.home_page_one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin: 0px 60px;
}

.home_page_one_text h1{
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;

}

.home_page_one_text p{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
}

.home_page_one_text button{
    width: 335px;
    height: 59px;
    color: white;
    font-size: 22px;
    font-weight: 500;
    background-color: #5970FF;
    border-radius: 10px;
    border: none;
    margin-top: 70px;

}

.home_page_one_two{
    margin: 0 60px;
}

.home_page_one_two h2{
    font-size: 45px;
    font-weight: 900;
}

.display_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;

}

.wrapper_info{
    height: 225px;
    width: 400px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.wrapper_info img{
    margin-left: 20px;
    margin-top: 30px;
}

.wrapper_info p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 19px;
    margin-left: 20px;
}

.home_img_des{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 107px;
}

.rate{
    margin: 0px 60px
}

.rate h2{
    font-size: 45px;
    font-weight: 900;
}

.rate_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.rate_wrapper_component{
    height: 540px;
    width: 415px;
    border: 2px solid #FFB64F;
    border-radius: 10px;
}

.rate_wrapper_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFB64F;
    height: 132px;
}

.rate_wrapper_header_text{
    margin-left: 30px;
}

.rate_wrapper_header_text h4{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rate_wrapper_header_text p{
    font-size: 18px;
    font-weight: 400;
}

.rate_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate_info_text_one h4 {
    font-size: 36px; 
    margin-bottom: 10px;
}

.rate_info_text_one h4 span{
    font-size: 30px; 
    text-decoration: line-through;
    padding-left: 10px;
    color: #727070;
}

.rate_info_text_two h4{
    font-size: 20px;
    font-weight: 500;
    margin-top: 91px;
}


.rate_info_text_two p{
    margin-top: 5px;
}

.rate_wrapper_button{
    height: 59px;
    width: 355px;
    border: none;
    border-radius: 10px;
    color: black;
    background-color: #D2D2D2;
    margin-top: 55px;
}